# Node.js
node_modules/
dist/

# Env files
.env
.env.test
.env.production

# Logs
logs/
*.log
logs/*.log

# OS & Editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage & Testing
coverage/
.nyc_output/
jest-stare/
report/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/